<div class="py-4">
  <div class="flex flex-wrap justify-between flex-grow">
    <% @current_user.settings.ordered.each do |setting| %>
      <% unless setting.hidden %>
        <% chart = @currency_stats[setting.currency] %>
        <div class="bg-white rounded shadow-custom mb-6 border border-grey-border max-w-lg flex-grow">
          <div class="flex justify-between">
            <div class="flex items-center -mt-4">
              <span class="inline-flex ml-4">
                <%= image_tag("currencies/#{setting.currency}.png", class: "h-10 w-10") %>
              </span>
              <span class="font-semibold text-xl text-grey-text ml-3">
                <%= setting.currency %>
              </span>
            </div>

            <div class="border rounded-sm mb-2 mt-4 mr-4">
              <div class="flex">
                <div class="w-24">
                  <ul class="list-reset leading-normal border-r h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">Current</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <%= chart.first.last %>
                    </li>
                  </ul>
                </div>
                <div class="w-24">
                  <ul class="list-reset leading-normal border-r h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">Max</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <%= chart.flatten.reject{|i| i.is_a?(String)}.max %>
                    </li>
                  </ul>
                </div>
                <div class="w-24">
                  <ul class="list-reset leading-normal border-r h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">Diff</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <% value = diff(chart) %>
                      <div class="inline-flex">
                        <% if value == '-' %>
                          <p class="text-yellow-dark"><%= value %></p>
                        <% elsif value.positive? %>
                          <%= inline_svg "icons/chevron-up.svg", class: "mt-05 w-7 h-7 text-green" %>
                          <p class="text-green"><%= value %></p>
                        <% else %>
                          <%= inline_svg "icons/chevron-down.svg", class: "mt-05 w-7 h-7 text-red" %>
                          <p class="text-red"><%= value %></p>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="w-24">
                  <ul class="list-reset leading-normal h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">% Diff</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <% value = diff_percent(chart) %>
                      <div class="inline-flex">
                        <% if value == '-' %>
                          <p class="text-yellow-dark"><%= value %></p>
                        <% elsif value.positive? %>
                          <%= inline_svg "icons/chevron-up.svg", class: "mt-05 w-7 h-7 text-green" %>
                          <p class="text-green">
                            <%= value %>
                            <p class="text-xs text-green mt-2">%</p>
                          </p>
                        <% else %>
                          <%= inline_svg "icons/chevron-down.svg", class: "mt-05 w-7 h-7 text-red" %>
                          <p class="text-red"><%= value %></p>
                          <p class="text-xs text-red mt-2">%</p>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <%= area_chart chart,
          library: {
            # colors: [color_for(setting)],
            plotOptions: {
              series: {
                fillColor: {
                    linearGradient: [0, 0, 0, 300],
                    stops: [
                        [0, color_for(setting).paint.lighten.to_hex],
                        [1, color_for(setting)]
                    ]
                },
                fillOpacity: 1,
                lineWidth: 2,
                lineColor: color_for(setting).paint.desaturate.to_hex,
                stickyTracking: false
              }
            },
            chart: {
              margin: [0, 0, 0, 0]
            },
            tooltip: {
              pointFormat: '<b>{point.y}</b>',
              shape: 'square',
              backgroundColor: '#FAFAFA',
              borderColor: '#E5E5E5',
              shadow: false
            },
            xAxis: {
              visible: false,
              minPadding: 0,
              maxPadding: 0
            },
            yAxis: {
              visible: false
            }
          }
          %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
