<div class="py-4">
  <div class="flex flex-wrap justify-between flex-grow">
    <% @current_user.ordered_chart_preferences.each do |chart_preference| %>
      <% unless chart_preference['hidden'] %>
        <% chart = @currency_stats[chart_preference['currency']] %>
        <div class="bg-white rounded shadow-custom mb-6 border border-grey-border max-w-lg flex-grow">
          <div class="flex justify-between">
            <div class="flex items-center -mt-4">
              <span class="inline-flex ml-4">
                <%= image_tag("currencies/#{chart_preference['currency']}.png", class: "h-10 w-10") %>
              </span>
              <span class="font-semibold text-xl text-grey-text ml-3">
                <%= chart_preference['currency'] %>
              </span>
            </div>

            <div class="border rounded-sm mb-2 mt-4 mr-4">
              <div class="flex">
                <div class="w-24">
                  <ul class="list-reset leading-normal border-r h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">Current</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <%= convert_thousand_to_human(chart.first.last) %>
                    </li>
                  </ul>
                </div>
                <div class="w-24">
                  <ul class="list-reset leading-normal border-r h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">Max</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <%= convert_thousand_to_human(chart.flatten.reject{|i| i.is_a?(String)}.max) %>
                    </li>
                  </ul>
                </div>
                <div class="w-24">
                  <ul class="list-reset leading-normal border-r h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">Diff</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <% value = diff(chart) %>
                      <div class="inline-flex">
                        <% if value == '-' || value.zero? %>
                          <p class="text-yellow-dark"><%= convert_thousand_to_human(value) %></p>
                        <% elsif value.positive? %>
                          <%= inline_svg "icons/chevron-up.svg", class: "mt-05 w-7 h-7 text-green" %>
                          <p class="text-green"><%= convert_thousand_to_human(value) %></p>
                        <% else %>
                          <%= inline_svg "icons/chevron-down.svg", class: "mt-05 w-7 h-7 text-red" %>
                          <p class="text-red"><%= convert_thousand_to_human(value) %></p>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="w-24">
                  <ul class="list-reset leading-normal h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">% Diff</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <% value = diff_percent(chart) %>
                      <div class="inline-flex">
                        <% if value == '-' || value.zero? %>
                          <p class="text-yellow-dark"><%= convert_thousand_to_human(value) %></p>
                        <% elsif value.positive? %>
                          <%= inline_svg "icons/chevron-up.svg", class: "mt-05 w-7 h-7 text-green" %>
                          <p class="text-green">
                            <%= convert_thousand_to_human(value) %>
                            <p class="text-xs text-green mt-2">%</p>
                          </p>
                        <% else %>
                          <%= inline_svg "icons/chevron-down.svg", class: "mt-05 w-7 h-7 text-red" %>
                          <p class="text-red"><%= convert_thousand_to_human(value) %></p>
                          <p class="text-xs text-red mt-2">%</p>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <%= area_chart chart,
          library: {
            # colors: [color_for(chart_preference)],
            plotOptions: {
              series: {
                fillColor: {
                    linearGradient: [0, 0, 0, 300],
                    stops: [
                        [0, color_for(chart_preference).paint.lighten.to_hex],
                        [1, color_for(chart_preference)]
                    ]
                },
                fillOpacity: 1,
                lineWidth: 2,
                lineColor: color_for(chart_preference).paint.desaturate.to_hex,
                stickyTracking: false
              }
            },
            chart: {
              margin: [0, 0, 0, 0]
            },
            tooltip: {
              pointFormat: '<b>{point.y}</b>',
              shape: 'square',
              backgroundColor: '#FAFAFA',
              borderColor: '#E5E5E5',
              shadow: false
            },
            xAxis: {
              visible: false,
              minPadding: 0,
              maxPadding: 0
            },
            yAxis: {
              visible: false
            }
          }
          %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
