<div class="py-4">
  <div class="flex flex-wrap justify-between flex-grow">
    <% @current_user.ordered_chart_preferences.each do |chart_preference| %>
      <% unless chart_preference['hidden'] == "true" %>
        <% chart = @currency_stats[chart_preference['currency']] %>
        <div class="bg-white rounded-lg shadow-custom mb-6 border border-grey-border max-w-lg flex-grow">
          <div class="flex justify-between">
            <div class="flex items-center -mt-4">
              <span class="inline-flex ml-4">
                <%= image_tag("currencies/#{chart_preference['currency']}.png", class: "h-10 w-10") %>
              </span>
              <span class="font-semibold text-xl text-grey-text ml-3">
                <%= chart_preference['currency'] %>
              </span>
            </div>

            <div class="border rounded mb-2 mt-4 mr-4">
              <div class="flex">
                <div class="w-24">
                  <ul class="list-reset leading-normal border-r h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">Current</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <%= chart.last.last %>
                    </li>
                  </ul>
                </div>
                <div class="w-24">
                  <ul class="list-reset leading-normal border-r h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">Max</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <%= chart.flatten.reject{|i| i.is_a?(String)}.max %>
                    </li>
                  </ul>
                </div>
                <div class="w-24">
                  <ul class="list-reset leading-normal border-r h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">Diff</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <% value = diff(chart) %>
                      <div class="inline-flex">
                        <% if value == '-' || value.zero? %>
                          <p class="text-yellow-dark"><%= value %></p>
                        <% elsif value.positive? %>
                          <%= inline_svg "icons/chevron-up.svg", class: "mt-05 w-7 h-7 text-green" %>
                          <p class="text-green"><%= value %></p>
                        <% else %>
                          <%= inline_svg "icons/chevron-down.svg", class: "mt-05 w-7 h-7 text-red" %>
                          <p class="text-red"><%= value %></p>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="w-24">
                  <ul class="list-reset leading-normal h-16">
                    <li class="text-grey-text text-center p-1 text-xs uppercase">% Diff</li>
                    <li class="text-grey-text text-center text-xl font-bold">
                      <% value = diff_percent(chart) %>
                      <div class="inline-flex">
                        <% if value == '-' || value.zero? %>
                          <p class="text-yellow-dark"><%= convert_thousand_to_human(value) %></p>
                        <% elsif value.positive? %>
                          <%= inline_svg "icons/chevron-up.svg", class: "mt-05 w-7 h-7 text-green" %>
                          <p class="text-green">
                            <%= convert_thousand_to_human(value) %>
                            <p class="text-xs text-green mt-2">%</p>
                          </p>
                        <% else %>
                          <%= inline_svg "icons/chevron-down.svg", class: "mt-05 w-7 h-7 text-red" %>
                          <p class="text-red"><%= convert_thousand_to_human(value) %></p>
                          <p class="text-xs text-red mt-2">%</p>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div id="chart_div_<%= chart_preference['currency'].parameterize %>" class="w-full"></div>

          <script type="text/javascript">
            var options = {
              chart: {
                width: '100%',
                height: 180,
                type: 'area',
                sparkline: {
                  enabled: true
                }
              },
              stroke: {
                curve: 'straight',
                // curve: 'smooth',
                width: 3.5
              },
              colors: ["<%= color_for(chart_preference) %>"],
              fill: {
                colors: ["<%= color_for(chart_preference) %>"],
                type: 'solid',
                opacity: 0.5
              },

              title: {
                text: ""
              },
              series: [{
                name: "<%= chart_preference['currency'] %>",
                data: [
                  <% chart.each do |entry| %>
                  {
                    x: "<%= entry[0] %>",
                    y: <%= entry[1] %>
                  },
                  <% end %>
                ]
              }]
            }

            // var chart = new ApexCharts(document.querySelector("#chart_<%= chart_preference['currency'].parameterize %>"), options);
            var chart = new ApexCharts(document.getElementById("chart_div_<%= chart_preference['currency'].parameterize %>"), options);

            chart.render();
          </script>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
