<div class="flex min-h-screen">
  <%= render "layouts/sidebar" %>
  <main class="w-full bg-grey-bg py-6 px-6 flex-shrink ml-60">
    <div class="flex justify-between text-center">
      <h2 class="text-grey-text">
        <%= @current_league %>
      </h2>
      <!-- <%= link_to "Manual sync", fetch_currency_path, method: :get, class: "text-xs uppercase mr-2 mt-4 bg-black-button text-white font-bold py-2 px-2 rounded-sm cursor-pointer text-center tracking-wide no-underline" %> -->
      <div class="flex items-center">
        <div class="inline-flex text-sm items-center mr-6">
          <%= inline_svg "icons/clock.svg", class: "stroke-current w-4 h-4 text-grey-text" %>
          <p class="ml-2 text-grey-text-custom">Updated <%= time_ago_in_words @current_user.updated_at %> ago</p>
        </div>

        <div class="inline-flex text-sm items-center">
          <%= inline_svg "icons/refresh-cw.svg", class: "stroke-current w-4 h-4 text-grey-text" %>
          <p class="ml-2 text-grey-text-custom">Next update in <%= distance_of_time_in_words(@current_user.updated_at, @current_user.updated_at + 6.hours) %></p>
        </div>
      </div>

    </div>
    <hr class="border-t border-grey-border">
    <%= render "poe/currency" %>
  </main>
</div>
