<div class="bg-grey-lighter h-screen">
  <div class="container mx-auto h-full flex justify-center items-center">
      <div class="w-1/3">
        <h1 class="text-center text-4xl font-normal -mt-20 mb-20">Forgot your password?</h1>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "bg-white shadow rounded px-8 pt-6 pb-8 mb-4" }) do |f| %>
          <%= render 'layouts/error_messages', object: resource %>
          <%= render "users/shared/alerts" %>

          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
              <%= f.label :email %>
            </label>
            <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", placeholder: "email@example.com", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" %>
          </div>

          <%= f.submit "Send me reset password instructions", class: "mb-6 bg-primary hover:bg-purple text-white font-semibold py-2 px-4 border border-purple-light rounded shadow w-full cursor-pointer" %>

          <div class="text-center text-sm">
            <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-grey-darkest hover:text-black hover:underline no-underline" %>
          </div>
        <% end %>

        <div class="text-center text-sm">
          <p class: "text-grey-darkest no-underline"><%= link_to "Log in", new_session_path(resource_name), class: "no-underline hover:underline" %></p>
        </div>
      </div>
   </div>
</div>
