<!DOCTYPE html>
<html>
  <head>
    <title>Poe Currency Log</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application" %>

    <%= render 'application/favicon' %>
  </head>

  <body class="font-sans text-black h-full">
    <p class="notice"><%= notice %></p>
    <p class="text-red text-xs italic"><%= alert %></p>
    <%= yield %>
  </body>
</html>
