<!DOCTYPE html>
<html>
  <head>
    <title>Poe Currency Log</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application" %>

    <%= favicon_link_tag asset_path('favicon.png') %>

  </head>

  <body class="font-custom antialiased font-normal text-black leading-normal">
    <%= yield %>
  </body>

</html>
