<div class="bg-grey-lighter h-screen">
  <div class="container mx-auto h-full flex justify-center items-center">
      <div class="w-1/3">
        <h1 class="text-center text-4xl font-normal mb-12">Sign Up</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "bg-white shadow rounded px-8 pt-6 pb-8 mb-4" }) do |f| %>
          <%= render "layouts/error_messages", object: resource %>
          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
              <%= f.label :email %>
            </label>
            <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", placeholder: "email@example.com", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" %>
          </div>

          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
              <%= f.label :password %>
              <em class="text-xs">(<%= @minimum_password_length %> characters minimum)</em>

            </label>
            <%= f.password_field :password, required: true, autocomplete: "off", placeholder: "******************", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight"  %>
          </div>

          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
              <%= f.label :password_confirmation %>
            </label>
            <%= f.password_field :password_confirmation, required: true, autocomplete: "off", placeholder: "******************", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight"  %>
          </div>

          <div class="mb-8">
            <label class="block text-grey-darker text-sm font-bold mb-2 inline-flex items-center" for="password">
              <%= f.label :session %>
              <a href="https://www.pathofexile.com/forum/view-thread/1989935/page/9#p14857124" target="_blank">
                <%= inline_svg "icons/question.svg", class: "fill-current text-blue ml-2 w-4 h-4" %>
              </a>
            </label>
            <%= f.text_field :session, required: true, autocomplete: "off", placeholder: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight"  %>
          </div>

          <%= f.submit "Sign up now", class: "bg-purple-dark hover:bg-purple text-white font-semibold py-2 px-4 border border-purple-light rounded shadow w-full cursor-pointer" %>
        <% end %>

        <div class="text-center text-sm">
          <p class: "text-grey-darkest no-underline"><%= link_to "Log in", new_session_path(resource_name), class: "no-underline hover:underline" %></p>
        </div>
      </div>
   </div>
</div>
